<%- include('header'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/index.css">
    <title><%= bot.name %></title>
</head>
<body>
<!--HEADER-->

<!--MAIN BODY-->
<section style="margin-bottom: 0;">

    <div class="d-flex justify-content-center mt-20">
        <h1 style="font-weight: 900;">
            <img src="<%= botClient.user.displayAvatarURL({size: 4096}) %>"
                 style="width: 15%; display: block; margin-left: auto; margin-right: auto;"
                 class="shadow rounded-full max-w-full h-auto align-middle border-none">
            <span style="font-size: 1em; font-weight: 900;"><span style="color:#ff606e;">FireFly</span> | Best Music Experience</span>
        </h1>‚
    </div>
    <div class="d-flex justify-content-center subtext">
        <p style="font-style: italic;font-size: 30px;">The Best music bot with the best sound quality on Discord!</p>
    </div>
</section>

<section style="margin-top: -15%;">

    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-1 order-0"><img class="w-100 shadow-lg rounded-3xl"
                                                                   src="images/screen_help.png"
                                                                   alt="" width="30"/></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                <div class="d-flex align-items-start"><img class="me-4"
                                                           src="https://cdn.discordapp.com/emojis/850924066517155871.png?v=1"
                                                           alt="" width="30"/>


                    <div class="flex-1">
                        <h5>All needed Commands for your Discord Server</h5>
                        <p class="text-muted mb-4">Are you sick of having a music bot with hundreds of commands?
                            FireFly combines all the important commands into a few concise commands!
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-0 order-1"><img class="w-100 shadow-lg rounded-3xl"
                                                                   src="images/screen_filter.png"
                                                                   alt="" width="30"/></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                <div class="d-flex align-items-start"><img class="me-4"
                                                           src="https://cdn.discordapp.com/emojis/850924929444610048.png?v=1"
                                                           alt="" width="30"/>
                    <div class="flex-1">
                        <h5>Ultimate music experiences means 15 filters to customize your audio enjoyment!</h5>
                        <p class="text-muted mb-4">We use FFmpeg to achieve the best possible audio quality. Thereby we
                            rely on high performance audio hardware.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-1 order-0"><img class="w-100 shadow-lg rounded-3xl"
                                                                   src="images/screen_playlist.png"
                                                                   alt=""/></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                <div class="d-flex align-items-start"><img class="me-4"
                                                           src="https://cdn.discordapp.com/emojis/850831345051762719.png?v=1"
                                                           alt="" width="30"/>
                    <div class="flex-1">
                        <h5>Many, Many Songs...</h5>
                        <p class="text-muted mb-4">FireFly allows you to create or import your own playlist. At the same
                            time, management is always no problem.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-0 order-1"><img class="w-100 shadow-lg rounded-3xl"
                                                                   src="images/screen_manager.jpeg"
                                                                   alt=""/></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                <div class="d-flex align-items-start"><img class="me-4"
                                                           src="https://cdn.discordapp.com/emojis/853006694312574977.png?v=1"
                                                           alt="" width="30"/>
                    <div class="flex-1">
                        <h5>Clear Interface, with interaction Buttons!</h5>
                        <p class="text-muted mb-4">To provide the best user experience, FireFly uses Discord's advanced
                            button interaction technology. This allows fast and user-friendly communication with the
                            bot.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-1 order-0"><img class="w-100" src="https://i.imgur.com/wXwAvIi.png"
                                                                   alt=""/></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                <div class="d-flex align-items-start"><img class="me-4"
                                                           src="https://cdn.discordapp.com/emojis/850831345051762719.png?v=1"
                                                           alt="" width="30"/>
                    <div class="flex-1">
                        <h5>Spotify, Soundcloud, YouTube</h5>
                        <p class="text-muted mb-4">FireFly supports many music websites! This includes playlists but
                            also songs. Currently supported sites are: YouTube, Spotify, Soundclod</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<hr style="width: 75%;background-color: #FFFFFF!important;color: #FFFFFF!important;border: 5px solid #FFFFFF!important;border-radius:25px;margin-left: 12%;margin-top: 4em">
<!-- FOOTER-->
<footer class="w-auto p-4 bottom-0 h-auto relative mt-5" style="background-color: #23272A;">
    <div class="lg:flex  lg:mt-3 md:mx-12 lg:mx-28 lg:justify-between">
        <div class="mb-4 lg:columns-1 w-96">
            <p class="text-white font-bold mb-1 mt-3">About FireFly</p>
            <p class="text-gray-200 text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries
            </p>
        </div>
        <div class="mb-4  lg:mt-3">
            <h3 class="text-white font-bold mb-2 lg:mb-4"> Social Media</h3>
            <div class="">
                <div class=" flex lg:items-center ">
                    <div class="lg:container lg:max-w-screen-lg ">
                        <div>
                            <div class="lg:flex lg:flex-wrap gap-2 ">

                                <a href="">
                                    <button
                                            class="bg-gray-700 hover:bg-white hover:text-black  p-2 font-semibold text-white inline-flex items-center space-x-2 rounded">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                             role="img" class="w-5" preserveAspectRatio="xMidYMid meet"
                                             viewBox="0 0 24 24">
                                            <g fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"
                                                      fill="currentColor"/>
                                            </g>
                                        </svg>
                                    </button>
                                </a>
                                <a href="">
                                    <button
                                            class="bg-blue-400 p-2 hover:bg-white hover:text-black font-semibold  text-white inline-flex items-center space-x-2 rounded">
                                        <svg class="w-5 h-5 fill-current" viewBox="0 0 256 293"
                                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid">
                                            <path d="M226.011 0H29.99C13.459 0 0 13.458 0 30.135v197.778c0 16.677 13.458 30.135 29.989 30.135h165.888l-7.754-27.063 18.725 17.408 17.7 16.384L256 292.571V30.135C256 13.458 242.542 0 226.011 0zm-56.466 191.05s-5.266-6.291-9.655-11.85c19.164-5.413 26.478-17.408 26.478-17.408-5.998 3.95-11.703 6.73-16.823 8.63-7.314 3.073-14.336 5.12-21.211 6.291-14.044 2.633-26.917 1.902-37.888-.146-8.339-1.61-15.507-3.95-21.504-6.29-3.365-1.317-7.022-2.926-10.68-4.974-.438-.293-.877-.439-1.316-.732-.292-.146-.439-.292-.585-.438-2.633-1.463-4.096-2.487-4.096-2.487s7.022 11.703 25.6 17.261c-4.388 5.56-9.801 12.142-9.801 12.142-32.33-1.024-44.617-22.235-44.617-22.235 0-47.104 21.065-85.285 21.065-85.285 21.065-15.799 41.106-15.36 41.106-15.36l1.463 1.756C80.75 77.53 68.608 89.088 68.608 89.088s3.218-1.755 8.63-4.242c15.653-6.876 28.088-8.777 33.208-9.216.877-.147 1.609-.293 2.487-.293a123.776 123.776 0 0 1 29.55-.292c13.896 1.609 28.818 5.705 44.031 14.043 0 0-11.556-10.971-36.425-18.578l2.048-2.34s20.041-.44 41.106 15.36c0 0 21.066 38.18 21.066 85.284 0 0-12.435 21.211-44.764 22.235zm-68.023-68.316c-8.338 0-14.92 7.314-14.92 16.237 0 8.924 6.728 16.238 14.92 16.238 8.339 0 14.921-7.314 14.921-16.238.147-8.923-6.582-16.237-14.92-16.237m53.394 0c-8.339 0-14.922 7.314-14.922 16.237 0 8.924 6.73 16.238 14.922 16.238 8.338 0 14.92-7.314 14.92-16.238 0-8.923-6.582-16.237-14.92-16.237"/>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:mt-3 mb-4">
            <h3 class="text-white font-bold mb-2 lg:mb-2">Navigate</h3>
            <div class="columns-2 md:columns-3 lg:columns-2">
                <a class="text-gray-200" href="">Dashboard</a><br>
                <a class="text-gray-200" href="">Privacy</a><br>
                <a class="text-gray-200" href="">Commands</a><br>
                <a href="" class="text-gray-200">Legal Notice</a><br>
            </div>
        </div>
    </div>
    <div>
        <div class="flex justify-center mt-2">
            <p class="text-gray-400"> Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved
            </p>
        </div>
    </div>
</footer>

<!--JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>
